.section-testimonial {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonial-text {
  padding: 9.6rem;
}
.testimonial-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.6rem;
  gap: 1.6rem;
}
.testimonial-img figure {
  overflow: hidden;
}
.testimonial-img img {
  width: 100%;
  transition: all 0.4s;
}
.testimonial-img img:hover,
.testimonial-img img:active {
  transform: scale(1.1);
}
.testimonial-text-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-text-inner img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text-inner p {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-text-inner span {
  font-size: 1.6rem;
  color: #6f6f6f;
}
